# Usefull links
 - Kaggle : https://www.kaggle.com/code/fareselmenshawii/decision-tree-from-scratch/notebook

In [1]:
import pandas as pd

In [2]:


#path = "https://storage.googleapis.com/download.tensorflow.org/data/palmer_penguins/penguins.csv"
path = "penguins.csv"
dataset = pd.read_csv(path)
label = "species"

# Display the first 3 examples.
dataset.head(3)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007

In [5]:
dataset['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64